
<div class="container-fluid text-center pb-5">
   
  <div class="row" >
    <p class="card"><a routerLink="stock-market"> Stock Market</a></p>
    <p class="card"><a routerLink="chapt2-exercize"> Chpt-2 Exercize</a></p>
    <p class="card"><a routerLink="classBinding"> Class Binding</a></p>
    <p class="card"><a routerLink="styleBinding"> Style Binding</a></p>
    <p class="card"><a routerLink="eventBinding"> Event Binding</a></p>
    <p class="card"><a routerLink="templetRefvar"> Templet Ref Var</a></p>
    <p class="card"><a routerLink="twoWayBinding"> Tow Way Binding</a></p>
    <p class="card"><a routerLink="ngIf"> ngIf</a></p>
    <p class="card"><a routerLink="ngSwitch"> ngSwitch</a></p>
    <p class="card"><a routerLink="ngFor"> ngFor</a></p>
    <p class="card"><a routerLink="compInteraction"> Comp Interaction</a></p>
    <p class="card"><a routerLink="pipes"> Pipes</a></p>
</div>  
</div>