
<div class="container-fluid text-center pb-5">
   
  <div class="row" >
    <p class="card"><a routerLink="stock-market"> Stock Market</a></p>
    <p class="card"><a routerLink="chapt2-exercize"> Chpt-2 Exercize</a></p>
    <p class="card"><a routerLink="chapt3-exercize"> Chpt-3 Exercize</a></p>
    <p class="card"><a routerLink="chapt4-exercize"> Chpt-4 Exercize</a></p>
    <p class="card"><a routerLink="chapt5-exercize"> Chpt-5 Exercize</a></p>
    <p class="card"><a routerLink="chapt6-exercize"> Chpt-6 Exercize</a></p>
    <p class="card"><a routerLink="chapt7-exercize"> Chpt-7 Exercize</a></p>
    <p class="card"><a routerLink="chapt8-exercize"> Chpt-8 Exercize</a></p>
    <p class="card"><a routerLink="ngSwitch"> ngSwitch</a></p>
    <p class="card"><a routerLink="ngFor"> ngFor</a></p>
    <p class="card"><a routerLink="compInteraction"> Comp Interaction</a></p>
    <p class="card"><a routerLink="pipes"> Pipes</a></p>
</div>  
</div>