<h5> Chapter-2 Exercize</h5>
<div class="product-item" [class]="product.isOnSale ? 'product-item sale' : ''">
  <div class="image"><img [src]="product.imageUrl"></div>
  <div class="details">
    <div>{{product.name}}</div>
    <div>$ {{product.price}}</div>
    <div>
      <button [disabled]="product.quantityInCart == 0" (click)="decrementInCart()">-</button>
      <span>{{product.quantityInCart}}</span>
      <button (click)="incrementInCart()">+</button>
    </div>
  </div>
</div>

<div class="product-item" [class.sale]="product.isOnSale">
  <div class="image"><img [src]="product.imageUrl"></div>
  <div class="details">
    <div>{{product.name}}</div>
    <div>$ {{product.price}}</div>
    <div>
      <button *ngIf="product.quantityInCart > 0" (click)="decrementInCart()">-</button>
      <!-- The following select box has no effect yet! -->
      <select>
        <option [value]="qty" *ngFor="let qty of quantities">{{qty}}</option>
      </select>
      <span>{{product.quantityInCart}}</span>
      <button (click)="incrementInCart()">+</button>
    </div>
  </div>
</div>

<h5> Chapter-2</h5>

<div class="stock-container">
  <div class="name">{{stock.name + ' (' + stock.code + ')'}}</div>
  <div class="price"
      [class]="stock.isPositiveChange() ? 'positive' : 'negative'">$ {{stock.price}}</div>
  <button (click)="toggleFavorite($event)"
          [disabled]="stock.favorite">Add to Favorite</button>
</div>